/* Основные базовые стили */

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html {
  height: 100%;
}

body {
  background-color: #F2F2F2;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 22px;
  text-align: center;
  color: #333;
  margin: 0;
  min-height: 100%;
}

.header, .main-index, .catalog-main, .footer {
  width: 1200px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.brown-button {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  padding: 8px;
  background-color: #756157;
  color: white;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
  width: 140px;
  text-align: center;
  box-sizing: border-box;
  line-height: 20px;
  font-weight: 700;
  display: block;
  cursor: pointer;
}

.brown-button:hover {
  background-color: #615048;
}

.brown-button:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.30);
}

.brown-button:focus {
  outline: none;
}

                                                                /* Header */

.header {
  background-color: #FFF;
}

          /* Основная навигация */
.navigation {
  display: flex;
  width: 1200px;
  flex-wrap: wrap;
  /* padding: 0 70px; */
  /* margin: 0 auto; */
}

.logo {
  display: block;
  margin-left: 69px;
  margin-right: 29px;
  position: relative;
}

.navigation-list {
  list-style-type: none;
  font-weight: 700;
  font-size: 20px;
  margin: 0;
  padding: 0;
  width: 450px;
  display: flex;
}

.navigation-item {
  padding: 21px 16px;
  box-sizing: border-box;
  cursor: pointer;
}

.current {
  border-bottom: 2px solid #756157;
  position: relative;
  padding-bottom: 19px;
}

.navigation-list a {
  text-decoration: none;
  color: #333;
}

.navigation-list a:visited {
  color: #333;
}

          /* Пользовательская навигация */
.navigation-user-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 300px;
  margin-left: 185px;
  display: flex;
  align-items: center;
}

.navigation-user-item:last-child {
  margin-left: 10px;
}

.search {
  background-image: url(../images/search-icon.png);
  background-repeat: no-repeat;
  height: 20px;
  width: 45px;
}

.liked {
  background-image: url(../images/heart-icon.png);
  background-repeat: no-repeat;
  height: 20px;
  width: 42px;
  position: relative;
}

.liked::before {
  content: "12";
  position: absolute;
  font-size: 10px;
  line-height: 19px;
  background-color: #7DB54F;
  border-radius: 10px;
  color: white;
  width: 20px;
  height: 20px;
  left: 10px;
  top: -10px;
}

.navigation-user-item .brown-button {
  width: 160px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}


                                                                  /* Footer */

.footer {
  background-color: #FFF;
}

.footer-container {
  width: 1200px;
  display: flex;
  padding: 40px 70px 30px;
  margin: 0 auto;
  box-sizing: border-box;
}

.social-list {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.social-item {
  padding: 13px;
}

.tel {
  color: #000;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  font-style: normal;
  width: 720px;
  margin: 0 auto;
  padding-top: 5px;
}

.tel a {
  color: #000;
  text-decoration: none;
}

.tel a:hover {
  color: #756157;
}

.tel a:active {
  color: rgba(117, 97, 87, 0.30);
}

.logo-academy {
  color:#000;
  padding-top: 8px;
}

.logo-academy:hover {
  color: #756157;
}

.logo-academy:active {
  color: rgba(117, 97, 87, 0.30);
}

.social-item a{
  color: #83B3D3;
}

.social-item a:hover {
  color: #68A2CA;
}

.social-item a:active {
  color: rgba(104, 162, 202, 0.30);
}


                                                                  /* Modal window */



.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
}

.modal-container-close {
  display: none;
}

.modal-window {
  position: relative;
  margin: auto;
  padding: 64px 70px;
  background-color: #ffffff;
  width: 717px;
  border-radius: 30px;
}

.close-button {
  position: absolute;
  padding: 0;
  width: 52px;
  height: 52px;
  background-color: #F2F2F2;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  top: 0;
  right: 0;
  margin-top: 64px;
  margin-right: 52px;
}

.close-button::before,
.close-button::after {
  position: absolute;
  top: 25px;
  left: 19px;
  width: 14px;
  height: 2px;
  background-color: black;
  content: "";
}

.close-button::before {
  transform: rotate(45deg);
}

.close-button::after {
  transform: rotate(-45deg);
}

/* .close-button:focus {
  border: 3px #83B3D3 solid;
} */

.close-button:hover {
  background-color: #E6E6E6;
  outline: none;
}

.close-button:active {
  opacity: 0.30;
}

.modal-content{
  width: 620px;
  margin: 0 auto;
}

.modal-title {
  font-family: "PT Sans", sans-serif;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: start;
  color: #000;
  margin: 0 0 64px 0;
}

.search-form {
  text-align: start;
}

.search-form-date {
  margin: 0;
  justify-content: space-between;
  display: flex;
}

.label-date,
.visitors {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  padding-bottom: 1px;
}

.date-input {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  background-color: #f2f2f2;
  border: none;
  border-radius: 4px;
  width: 438px;
  height: 48px;
  margin-left: 20px;
  padding: 0 19px;
}

.date-input:hover {
  background-color: #e6e6e6;
  color: #5c5c5c;
}

.check-input {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #333333;
  margin: 4px 0 23px 165px;
  display: block;
}

.check-input-false {
  color: #FF5757;
}

.visitors-form-block {

  display: flex;
  justify-content: space-between;
}

.visitors-form-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.visitors-form {
  background-color: #f2f2f2;
  border: none;
  border-radius: 5px;
  min-width: 110px;
  height: 48px;
  margin-left: 52px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.quantity {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  line-height: 20px;
  background-color: #f2f2f2;
  border: none;
  width: 31px;
  appearance: none;
  text-align: center;
}

.children-tooltip {
  position: relative;
  margin-left: 10px;
  margin-right: 1px;
}

.children-tooltip-content {
  content: attr(data-tooltip);
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  position: absolute;
  width: 256px;
  left: 50%;
  top: 42px;
  background-color: #333333;
  padding: 20px 18px 22px 23px;
  pointer-events: none;
  opacity: 0;
  transition: 1s;
  border-radius: 10px;
  transform: translate(-50%, 0);
}

.children-tooltip-content::before {
  content: "";
  position: absolute;
  background-color: #333333;
  width: 23px;
  height: 17px;
  transform: rotate(45deg);
  left: 46%;
  bottom: 91%;
}

.children-tooltip-icon {
  font-weight: 400;
  font-size: 17px;
  line-height: 21px;
  color: #ffffff;
  border: none;
  background-color: #83b3d3;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  padding: 0 11px;
  vertical-align: middle;
  align-items: center;
  display: inline-flex;
  box-sizing: border-box;
}

.children-tooltip:hover .children-tooltip-content {
  opacity: 1;
  top: 40px;
}

.button-modal-submit {
  width: 100%;
  padding: 18px 256px;
  margin-top: 48px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 20px;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 24px;
  color: white;
  background-color: #83B3D3;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.button-modal-submit:hover {
  background-color: #68A2CA;
}

.button-modal-submit:active {
  background-color: #82B3D3;
  color: rgba(255, 255, 255, 0.30)
}

.button-modal-submit:focus {
  outline: none;
}

                                                                  /* Main page */

          /* Hero block */

.main-index {
  display: flex;
  flex-direction: column;
}

.main-title {
  display: flex;
  flex-direction: column;
  padding: 0;
  background-image: url(../images/bg-index.jpg);
  background-repeat: no-repeat;
  background-color: lightgray;
  height: 485px;
  box-sizing: border-box;
  margin-top: -3px;
}

.main-title::after {
  content: url(../images/divider.png);
  position: relative;
  bottom: -24px;
}

          /* Advantages block */

.advantages-title, .services-title, .search-hotel, .footer-main {
  background-color: #FFF;
}

.advantages-title {
  padding-top: 69px;
  padding-bottom: 61px;
}

.advantages-title-h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 25px;
  margin: 0;
}

.advantages-title p {
  margin: 0;
  padding-bottom: 27px;
}

.advantages-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.advantages-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.advantages-item {
  width: 230px;
  height: 179px;
  padding: 103px 85px;
}

.advantages-item-img {
  line-height: 15px;
}

.advantages-item h3 {
  margin: 0;
  padding-bottom: 30px;
}

.item-center h3 {
  margin-top: 11px;
  padding-bottom: 27px;
}

.advantages-item p {
  margin: 0;
  padding-top: 30px;
}

.decorate-line {
  width: 60px;
  height: 2px;
  margin: 0 auto;
  border-bottom: 2px solid rgba(0, 0, 0, 0.30);
}

.white-line {
  border-color: rgba(255, 255, 255, 0.30);
}

.advantages-list p {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.white {
  color: #FFF;
  background-color: #82B3D3;
}

          /* Services block */

.services-title {
  padding-top: 64px;
  padding-bottom: 64px;
}

.services-title-h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 20px;
}

.services-title p {
  margin: 0;
}

.services-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
}

.services-item {
  width: 400px;
  box-sizing: border-box;
  padding: 80px 85px;
}

.services-item-title {
  margin: 0;
  padding: 27px 0 30px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.services-item p{
  margin: 0;
  font-size: 18px;
  line-height: 21px;
}

.services-item::before {
  position: relative;
  content:"";
  width: 75px;
  height: 75px;
  display: block;
  top: 0;
  left: 77px;
  background-repeat: no-repeat;
}

.housing, .souvenirs{
  background-color: rgba(131, 179, 211, 0.12);
}

.housing::before {
  background-image: url(../images/house-icon.svg);
}

.food::before {
  background-image: url(../images/food-icon.svg);
}

.souvenirs::before {
  background-image: url(../images/souvenir-icon.svg);
}

          /* Search block */

.search-hotel {
  padding: 96px 304px;
}

.search-hotel-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 20px;
}

.search-hotel p {
  margin: 0;
  padding-bottom: 49px;
}

.search-hotel .brown-button {
  width: 376px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  margin: 0 auto;
}

          /* Subscribe block */

.subscribe {
  background-image: url(../images/subscribe-bg.jpg);
  background-repeat: no-repeat;
  padding: 96px 258px 100px;
}

.subscribe-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 19px;
}

.subscribe p {
  margin: 0;
  padding-bottom: 51px;
}

.subscribe-form {
  display: flex;
  padding-bottom: 2px;
}

.subscribe-form label{
  display: block;
  width: 452px;
}

.subscribe-form input{
  width: 452px;
  height: 52px;
  padding: 12px 18px;
  box-sizing: border-box;
  margin: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.subscribe-button {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: justify;
  text-transform: uppercase;
  border-radius: 0 4px 4px 0;
  color: #FFF;
  background-color: #82B3D3;
  padding: 0 50px;
  border: none;
  margin: 0;
  height: 52px;
  cursor: pointer;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 232px;
  letter-spacing: -2px;
}

.subscribe-button:hover {
  background-color: #68A2CA;
}

.subscribe-button:active {
  color: rgba(255, 255, 255, 0.30);
  background-color: #82B3D3;
}

.subscribe-button:focus {
  outline: none;
}

                                                                  /* Catalog page */

.catalog-main {
  background-color: #FFF;
}

          /* Parameters block */

.parameters-block {
  background-color: #756157;
  background-image: url(../images/catalog-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #FFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  display: flex;
  flex-direction: column;
  padding: 35px 70px 70px;
  margin-top: -6px;
}

.parameters-block p {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
}

.parameters-block .mini-navigation {
  font-size: 16px;
  line-height: 21px;
}

.container-title {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.title1-catalog {
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
  margin: 0 0 8px;
  text-align: start;
}

.mini-navigation {
  list-style-type: none;
  margin: 0;
  display: flex;
  padding: 0;
}

.mini-navigation-item {
  margin-right: 10px;
  cursor: pointer;
}

.mini-navigation-item a:hover {
  color: rgba(255, 255, 255, 0.60);
}

.mini-navigation-item a:active {
  color: rgba(255, 255, 255, 0.30);
}

.mini-navigation-item::before {
  position: relative;
  content: "";
}

.menu-hotels {
  background-image: url(../images/arrow-menu.svg);
  background-repeat: no-repeat;
  padding-left: 20px;
}

.home {
  position: relative;
  top: 3px;
  padding-bottom: 2px;
  height: 12px;
  width: 12px;
  background-image: url(../images/to-home.svg);
  background-repeat: no-repeat;
}

.container-title {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.container-parameters-block p {
  margin: 0 0 32px;
}

.parameters {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.container-left-section {
  display: flex;
}

.parameters-checkbox {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.parameters-control {
  position: relative;
  display: block;
  padding-left: 36px;
}

.parameters-control:not(:last-child) {
  padding-bottom: 16px;
}

    /* checkbox */

.checkbox {
  position: absolute;
  top: 2px;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  background-color: #ffffff;
}

.parameters-control:hover .mark{
  opacity: 0.60;
}

.parameters-control:active .mark{
  opacity: 0.30;
}

.parameters-control:hover .parameters-label{
  opacity: 0.60;
}

.parameters-control:active .parameters-label{
  opacity: 0.30;
}

.control-input[type="checkbox"]:checked + .checkbox::before{
  position: absolute;
  top: 11px;
  left: 3px;
  width: 7px;
  height: 2px;
  background-color: #3F5E72;
  content: "";
}
.control-input[type="checkbox"]:checked + .checkbox::after {
  position: absolute;
  top: 8px;
  left: 7px;
  width: 12px;
  height: 2px;
  background-color: #3F5E72;
  content: "";
}

.control-input[type="checkbox"]:checked + .checkbox::before {
  transform: rotate(40deg);
}

.control-input[type="checkbox"]:checked + .checkbox::after {
  transform: rotate(-45deg);
}

/* ---------------------------------------------------------- */

    /* Radio */

.parameters-radio {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin-left: 70px;
  align-items: flex-start;
}

.radio {
  position: absolute;
  top: 2px;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #ffffff;
}

.control-input[type="radio"]:checked + .radio::before {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  background-color: #3F5E72;
  border-radius: 50%;
  content: "";
}

/* ---------------------------------------------------- */

.parameters-right-section {
  display: flex;
}

.parameters-input {
  width: 288px;
  height: 160px;
}

.label-price {
  display: flex;
  align-content: space-evenly;
  margin-bottom: 36px;
}

.slider-container{
  width: 288px;
  height: 10px;
  margin: 0;
}

.slider{
  width: 288px;
  height: 3px;
  background-color: #F2F2F2;
  position: relative;
}

.slider__start-pin{
  position: absolute;
  width: 20px;
  height: 20px;
  top: -10px;
  border-radius: 5px;
  background-color: #fff;
  z-index: 2;
  cursor: pointer;
}

.slider__finish-pin{
  position: absolute;
  width: 20px;
  height: 20px;
  top: -10px;
  right: 70px;
  border-radius: 5px;
  background-color: #fff;
  z-index: 2;
  cursor: pointer;
}

.slider__process{
  position: absolute;
  top: 0;
  height: 3px;
  background-color: #FFF;
  z-index: 1;
}

.parameters-submit {
  display: flex;
  flex-direction: column;
  padding-top: 56px;
  margin-left: 70px;
}

.input-price {
  width: 143px;
  height: 48px;
  padding: 12px 20px;
  border-style: none;
  box-sizing: border-box;
}

.price-min {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  margin-right: 2px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: #000;
}

.label-price input:focus-visible {
  outline:  2px solid #83B3D3;
}

.price-max {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: #000;
}

.submit-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  border: none;
  border-radius: 4px;
  color: #FFF;
  background-color: #82B3D3;
  padding: 8px 50px;
  margin-bottom: 32px;
  cursor: pointer;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.submit-button:hover {
  background-color: #68A2CA;
}

.submit-button:active {
  background-color: #82B3D3;
  color: rgba(255, 255, 255, 0.30)
}

.submit-button:focus {
  outline: none;
}

.reset-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  border: none;
  border-radius: 4px;
  color: #FFF;
  background-color: rgba(255, 255, 255, 0);
  padding: 8px;
  cursor: pointer;
}

.reset-button:hover {
  color: rgba(255, 255, 255, 0.70);
}

.reset-button:focus-visible {
  outline: 3px #83B3D3 solid;
}

.reset-button:active {
  color: rgba(255, 255, 255, 0.30);
}

          /* Placeholder block */

.placeholder {
  display: flex;
  flex-direction: column;
  padding: 50px 70px 60px;
}

.placeholder-title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.container-placeholder-title .title2 {
  margin: 0;
}

.container-placeholder-menu {
  display: flex;
}

.select-price {
  box-sizing: border-box;
  width: 292px;
  height: 49px;
  padding: 11px 20px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  color: #333;
  border: 2px #E5E5E5 solid;
  border-radius: 4px;
  background-color: white;
}

.select-price:hover {
  border-color: #68A2CA;
}

.select-price:active {
  border-color: #3F5E72;
}

.view-list {
  list-style-type: none;
  margin: 0;
  margin-left: 70px;
  display: flex;
}

.view-item:not(:first-child) {
  margin-left: 8px;
}

.view-item a{
  border: 2px #E5E5E5 solid;
  border-radius: 4px;
  width: 48px;
  min-height: 48px;
  box-sizing: border-box;
  padding-top: 8px;
  display: block;
  color: #000;
}

.view-item a:hover {
  border-color: #000;
}

.view-item:focus-visible {
  outline: 2px #68A2CA solid;
}

.active-item a{
  border-color: #000;
}


          /* Placeholder cards */

.placeholder-cards {
  display: grid;
  grid-template-columns: 340px 340px 340px;
  grid-gap: 20px;
}

.placeholder-item {
  width: 340px;
  box-sizing: border-box;
  padding: 20px;
  border: 1px solid #E6E6E6;
  display: grid;
}

.description-container {
  display: flex;
  justify-content: space-between;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.rate-container {
  display: flex;
  justify-content: space-between;
}

.star {
  content: url(../images/star.png);
}

.card-picture {
  order: -1;
}

.button-container .submit-button {
  margin: 0;
  width: 140px;
  padding: 0;
}

.submit-button-pushed {
  background-color: #7DB54F;
  margin: 0;
  width: 140px;
  padding: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  border: none;
  border-radius: 4px;
  color: #FFF;
  cursor:pointer;
}

.submit-button-pushed:hover {
  background-color: #6C9E42;
}

.submit-button-pushed:active {
  background-color: #7DB54F;
}

.rate-button {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  padding: 8px;
  background-color: #F2F2F2;
  color: #333;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
  width: 140px;
  text-align: center;
  box-sizing: border-box;
  line-height: 20px;
  margin: 0;
}

.card-title {
  margin: 16px 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: start;
}

.description, .price {
  font-size: 18px;
  line-height: 21px;
  margin: 0;
  margin-bottom: 16px;
}

          /* Pagination */

.pagination-list {
  list-style-type: none;
  display: flex;
  padding-left: 0;
}

.pagination-item {
  width: 60px;
  height: 60px;
  border-radius: 4px;
  background-color: #82B3D3;
  color: #FFF;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin: 8px;
  line-height: 60px;
  cursor: pointer;
}

.pagination-item:first-child {
  margin-left: 0;
}

.pagination-item:not(.pushed):hover {
  background-color: #68A2CA;
}

.pagination-item:not(.pushed):active {
  color: rgba(255, 255, 255, 0.30);
  background-color: #82B3D3;

}

.pushed {
  background-color: #F2F2F2;
  color: #000;
  cursor: auto;
}

.dots {
  background-color: #ffffff;
  color: #000;
}

          /* Subscribe-block */

.subscribe-catalog {
  color: #000;
  padding: 96px 258px 104px;
}

.subscribe-catalog p {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
}


/* .modal {
  display: none;

  border-radius: 30px;
  box-shadow: 0px 25px 50px 0px rgba(0, 0, 0, 0.15);
  position: fixed;
  padding: 30px 0;
}

.modal-window {
  background-color: #FFF;
  width: 281px;
  height: 2574px;
  opacity: 0;
}

.modal-title {
  color: #000;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
} */
